<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
    <nav id="navbar">
        <div class="nav-left">Home</div>
        <div class="nav-right">
            <!-- <a href="#">Filter Recipes</a> -->
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </nav>
    <div class="main-container">
        <header>
            <h1>Log In</h1>
            <h2>Welcome Back!</h2>
        </header>
        <main>
            <form>
                <label for="email">Email</label>
                <input type="email" id="email" required>
                <label for="password">Password</label>
                <input type="password" id="password" required>
                <button class="form-button" type="submit">Let Me In!</button>
            </form>
        </main>
    </div>
    <footer>
        <p class="p1">&copy;
            <script>document.write(new Date().getFullYear());</script> Company, Inc.
        </p>
        <p class="p2"><a href="#navbar">Back to top</a></p>
    </footer>
</body>

</html>